<div class="bg-info py-3 fixed-bottom">
  <div class="d-flex">
    <div class="ml-5">© Copyright 2021 By Celine Roure</div>
    <div class="d-flex justify-content-around">
      <a href="">
      <%# <% image_tag  %>
      <img src="img/linkedin-logo.png" alt="" %></a>
      <a href=""
        ><img src="img/twitter-64.png" alt=""
      /></a>
    </div>
  </div>
</div>