// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-image {
  height: 400px;
  width: 400px;
}
.img-size {
  height: 200px;
}

.btn-right {
  float: right;
}
