<div class="d-flex justify-content-center bg-secondary">
  <p id="notice"><%= notice %></p>
  <div class="card my-3" style="width: 60%;">
    <div class="card-body">
      <h1 class="text-center">New Review</h1>
      <%= render 'form', review: @review %>
    </div>
  </div>
</div>

